html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map svg circle {
    pointer-events: auto;
}

#map circle, .legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

#map circle {
    fill: var(--color);
}

.legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    gap: 1px;
    font-size: 14px;
    max-width: 300px;
}

.legend > div {
    flex: 1;
    padding: 8px 12px;
    background-color: var(--color);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.legend > div:first-child {
    text-align: left;
    border-radius: 4px 0 0 4px;
}

.legend > div:nth-child(2) {
    text-align: center;
}

.legend > div:last-child {
    text-align: right;
    border-radius: 0 4px 4px 0;
}